<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=message %>
    </title>
    <style>
        body {
            margin: 0px;
            font-family: Muli, sans-serif;
            background-color: #111111e8;
            display: flex;
            align-items: center;
            justify-content: center;
            font: 75px/75px Monoton, cursive;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
            color: red;


        }



        .error-message {
            color: #fff;
            text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
        }

        .Astronaut {width: 15%;
            height: 15%;
        }
    </style>
</head>

<body>

    <section>
        
          
    
        <section class="error-message_container">

            <h1 class="error_status">
                <%= error.status %>
            </h1>
            <img class="Astronaut" src="images/Astronaut-big.png" alt="Logo de Digital House">
            <p class="error-message">
                <%= message %>
            </p>

        </section>
       
    </section>
</body>

</html>