<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://app.embed.im/snow.js" defer></script>
  </head>
  <body>
    <header> 
      <div class="logo"> 
      <img src="images/logo-DH.png" alt="Logo de Digital House">
  </div>
    <h1><%= title %></h1>
    <p>Bienvenidos a la pagina de <%= title %></p>
  </header>
  
	</ul>
  </body>
</html>
